body {	
	font-family: "Arial";
	font-size: 1em;
	
	width: 100%;
	height: auto;
	
	margin-left: auto;
	margin-right: auto;
	
	text-align: center;
	
	vertical-align: middle;
	
	background-color: #DDEEFF;
}

header {
	height: auto;
	width: auto;
	
	padding-top: 1px;
	padding-bottom: 1px;	
	
	color: white;
	
	background-color: #444444;
}

section {
	height: auto;
	width: auto;
	
	padding-top: 1px;
	padding-bottom: 1px;
	
	font-size: 2em;
		
	background-color: #DDEEFF;
}

footer {
	height: auto;	
	width: auto;
	
	padding-top: 1px;
	padding-bottom: 1px;
	
	background-color: #444444;
}

#debug {
	text-align: center;
}

input[type="text"] {
    width: 100%;
	display: center;
}

input[type="button"] {
	font-size: 2em;
    width: 100%;
	display: center;
}

#buttonBackward {
	width: 100%;
}

#buttonForward {
	width: 100%;
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #444; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 10px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 1.0s;
    animation: fadein 0.5s, fadeout 0.5s 1.0s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 10px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 10px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 10px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 10px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}