body {	
	font-family: "Arial";
	font-size: 1em;
	
	width: 100%;
	height: auto;
	
	margin-left: auto;
	margin-right: auto;
	
	text-align: center;
	
	vertical-align: middle;
	
	background-color: #DDEEFF;
}

header {
	height: auto;
	width: auto;
	
	padding-top: 2px;
	padding-bottom: 2px;	
	
	color: white;
	
	background-color: #444444;
}

section {
	height: auto;
	width: auto;
	
	padding-top: 5px;
	padding-bottom: 5px;
	
	font-size: 2em;
		
	background-color: #DDEEFF;
}

footer {
	height: auto;	
	width: auto;
	
	padding-top: 2px;
	padding-bottom: 2px;
	
	background-color: #444444;
}

#debug {
	text-align: center;
}

input[type="text"] {
    width: 100%;
	display: center;
}

input[type="button"] {
	font-size: 2em;
    width: 100%;
	display: center;
}
